# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then
    # GNU 'ls'
    colorflag="--color"
else
    # macOS 'ls'
    colorflag="-G"
fi

# standard commands

alias ..="cd .."
alias ack='ack --no-group --color-match=on_red'
alias c="clear"
alias cfn-nag="cfn_nag"
alias d='docker'
alias docker-stop-all='docker stop $(docker ps -a -q)'
alias docker-rm-all='docker rm $(docker ps -a -q)'
alias docker-rmi-untagged='docker rmi $(docker images -f "dangling=true" -q)'
alias did="vim +'normal Go' +'r!date' +'normal o' ~/did.txt"
alias e="exit"
alias g="git"
alias grep='grep -I'
alias h="history"
alias hex="hexyl"
alias idle="python -m idlelib.idle"
alias j="jobs"
alias l="ls -lhF ${colorflag}"
alias ll="ls -lhFA ${colorflag}"
alias ls="command ls -h ${colorflag}"
alias lsof='lsof -n -P'
alias nc='nc -vz -w5'
alias nmap='nmap -n -Pn'
alias plistbuddy="/usr/libexec/PlistBuddy"
alias pstree='pstree -g 3'
alias ssm='aws ssm start-session --target'
alias tcpdump-http="sudo tcpdump -nn -A -s0 -q 'tcp port 80 and (((ip[2:2] - ((ip[0]&0xf)<<2)) - ((tcp[12]&0xf0)>>2)) != 0)'"
alias tcpdump="tcpdump -nn"
alias v="vim"
alias vi="vim"

# custom commands
alias unquarantine="xattr -r -d com.apple.quarantine"
alias dns="scutil --dns"
alias dnsflush="dscacheutil -flushcache && killall -HUP mDNSResponder"
# Clean up LaunchServices to remove duplicates in the "Open With" menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"
alias me="curl ifconfig.co"
# mkpasswd clone using python. ensure passlib is installed (pip install passlib)
alias mkpasswd="python -c 'from passlib.hash import sha512_crypt; import getpass; print sha512_crypt.encrypt(getpass.getpass())'"
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# docker
#alias aws='docker run --rm -it -v $HOME/.aws:/root/.aws -v $PWD:/workdir -e AWS_PROFILE craighurley/aws-cli:$DOCKER_AWS_CLI_VERSION'
alias aws-mfa='TZ=UTC date ; docker run --rm -it -v $HOME/.aws:/root/.aws -e AWS_PROFILE craighurley/aws-mfa'
alias cfn-flip='docker run --rm -v $PWD:/workdir craighurley/cfn-flip'
#alias cfn-lint='docker run --rm -v $PWD:/workdir:ro craighurley/cfn-lint'
alias org-formation='docker run --rm -it -v $HOME/.aws:/root/.aws:ro -v $PWD:/workdir -w /workdir -e AWS_PROFILE craighurley/aws-org-formation'
alias rsyslog-start='docker run --rm -d -v $PWD/log:/var/log -p 514:514 -p 514:514/udp --name rsyslog craighurley/rsyslog'
alias rsyslog-stop='docker stop rsyslog'
alias sceptre='docker run --rm -it -v $HOME/.aws:/root/.aws:ro -v $PWD:/workdir:ro -e AWS_PROFILE craighurley/sceptre:$DOCKER_SCEPTRE_VERSION'
alias ssm-run='docker run --rm -it -v $HOME/.aws:/root/.aws -e AWS_PROFILE=$AWS_PROFILE -e AWS_REGION=$AWS_REGION docker.pkg.github.com/disneystreaming/ssm-helpers/ssm-run'
alias ssm-session='docker run --rm -it --detach-keys 'ctrl-e,e' -v $HOME/.aws:/root/.aws -e AWS_PROFILE=$AWS_PROFILE -e AWS_REGION=$AWS_REGION docker.pkg.github.com/disneystreaming/ssm-helpers/ssm-session'
alias weechat='docker run --rm -it -v $HOME/.weechat:/home/user/.weechat craighurley/docker-weechat'
