# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then
    # GNU 'ls'
    colorflag="--color"
else
    # macOS 'ls'
    colorflag="-G"
fi

# standard commands

alias ..="cd .."
alias ack='ack --no-group --color-match=on_red'
alias c="clear"
alias cfn-nag="cfn_nag"
alias d='docker'
alias did="vim +'normal Go' +'r!date' +'normal o' ~/did.txt"
alias e="exit"
alias grep='grep -I'
alias h="history"
alias hex="hexyl"
alias idle="python -m idlelib.idle"
alias j="jobs"
alias l="ls -lhF ${colorflag}"
alias ll="ls -lhFA ${colorflag}"
alias ls="command ls -h ${colorflag}"
alias lsof='lsof -n -P'
alias nmap='nmap -n -Pn'
alias plistbuddy="/usr/libexec/PlistBuddy"
alias pstree='pstree -g 3'
alias tcpdump-http="sudo tcpdump -nn -A -s0 -q 'tcp port 80 and (((ip[2:2] - ((ip[0]&0xf)<<2)) - ((tcp[12]&0xf0)>>2)) != 0)'"
alias tcpdump="tcpdump -nn"
alias v="vim"
alias vi="vim"

# custom commands

alias dns="scutil --dns"
alias dnsflush="dscacheutil -flushcache && killall -HUP mDNSResponder"
# Clean up LaunchServices to remove duplicates in the "Open With" menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"
alias me="curl ifconfig.co"
# mkpasswd clone using python. ensure passlib is installed (pip install passlib)
alias mkpasswd="python -c 'from passlib.hash import sha512_crypt; import getpass; print sha512_crypt.encrypt(getpass.getpass())'"
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'
