# Default editor
export EDITOR="vim"

# bash history
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoreboth:erasedups
export HISTIGNORE="exit:c"

# Use UTF-8
export LANG="en_NZ"
export LC_ALL="en_NZ.UTF-8"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# grep defaults
export GREP_OPTIONS="--color=auto -I --exclude-dir=.git --exclude-dir=.svn --exclude-dir=.metadata --exclude=.DS_Store"

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# don't display homebrew emoji
export HOMEBREW_NO_EMOJI=1

# sqldeveloper
export DYLD_LIBRARY_PATH=/Library/Oracle/instantclient
