# Default editor
export EDITOR="vim"

# bash history
export HISTSIZE=5000
export HISTFILESIZE=$HISTSIZE
export HISTTIMEFORMAT="%Y/%m/%d %T "
export HISTCONTROL=ignoreboth:erasedups
export HISTIGNORE="c:clear:e:exit"

# stop catalina notice about zsh being default
export BASH_SILENCE_DEPRECATION_WARNING=1

# Use UTF-8
#export LANG="en_NZ"
#export LC_ALL="en_NZ.UTF-8"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# grep defaults
export GREP_OPTIONS="--color=auto -I --exclude-dir=.git --exclude-dir=.svn --exclude-dir=.metadata --exclude=.DS_Store"

# homebrew options
export HOMEBREW_CASK_OPTS="--require-sha"
export HOMEBREW_NO_EMOJI=0
export HOMEBREW_NO_ANALYTICS=1

# sqldeveloper
if [[ -d $HOME/Applications/Oracle/instaclient ]] ; then
    export DYLD_LIBRARY_PATH=$HOME/Applications/Oracle/instaclient
fi

# openssl
if [[ -d /usr/local/opt/openssl/bin ]] ; then
    export LDFLAGS="-L/usr/local/opt/openssl/lib"
    export CPPFLAGS="-I/usr/local/opt/openssl/include"
fi

# gpg
export GPG_TTY=$(tty)
export GPG_AGENT_INFO=$HOME/.gnupg/S.gpg-agent

# docker images
export DOCKER_AWS_CLI_VERSION=2
export DOCKER_SCEPTRE_VERSION=2.3.0

# java
if [[ -d /usr/local/opt/java ]] ; then
    export JAVA_HOME="/usr/local/opt/java"
fi
