# Make nano the default editor
export EDITOR="nano"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups:erasedups
# Make some commands not show up in history
export HISTIGNORE="pwd:exit:man *:date:* --help"

# Use UTF-8
export LANG="en_NZ"
export LC_ALL="en_NZ.UTF-8"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# grep defaults
export GREP_OPTIONS="--color=auto -I -n --exclude-dir=.git --exclude-dir=.svn --exclude-dir=.metadata --exclude=.DS_Store"

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications"
