---
extends: default
rules:
  document-start: disable
  braces:
    max-spaces-inside: 1
    min-spaces-inside: 0
  brackets:
    max-spaces-inside: 1
    min-spaces-inside: 0
    level: warning
  commas:
    level: warning
  comments:
    min-spaces-from-content: 1
  indentation:
    level: warning
  line-length:
    level: warning
    max: 999
